.root{

}

.intro{
  min-height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  .addressSearchForm{
    margin-top: 60px;
  }

.sell{
  min-height: 80vh;
  background-color: lightgreen;
}
